
<!DOCTYPE html>
  <html>
    <head>
      <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Rock+Salt&display=swap" rel="stylesheet">
      <link rel= "styleSheet" href="styleSheet.css">

      <title>Tic Tac Toe</title>
    </head>
    <body>
      <h1>Tic Tac Toe</h1>
      <table>
        <tr>
          <td class= boardSpace id= "space1" ></td>
          <td class= boardSpace id= "space2"></td>
          <td class= boardSpace id= "space3"></td>
        </tr>
        <tr>
          <td class= boardSpace id= "space4"></td>
          <td class= boardSpace id= "space5"></td>
          <td class= boardSpace id= "space6"></td>
        </tr>
        <tr>
          <td class= boardSpace id= "space7"></td>
          <td class= boardSpace id= "space8"></td>
          <td class= boardSpace id= "space9"></td>
        </tr>
      </table>
      <div class='wins'>
        <p id='Xwins'></p>
        <p id= 'Owins'></p>
      </div>

      <button id= 'reset'> New Game</button>
      <script src="app.js"></script>
    </body>
  </html>
